{% extends 'base.html'%}

{% block head %}
<title>Tripadvisor Master</title>
{% endblock%}

{% block body %}
<div class="content">
  <h1 style="text-align: center">Tripadvisor Master</h1>
  <div class="form">
    <form action="/query" method="GET">
      <input type="text" name="content" id="content">

      <input type="submit" value="Send">
    </form>
  </div>

  <div class="content">
    <div class="form">
      <form action="/filter" method="GET">
        <label for="startDate">Filter by Date:</label>
        <input type="date" id="startDate" name="startDate">
        <label for="endDate"> to </label>
        <input type="date" id="endDate" name="endDate">
        <br><br>
        <label for="rating">Filter by Rating:</label>
        <select id="rating" name="rating">
          <option value="">Select a rating</option>
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select>
        <br><br>
        <input type="submit" value="Apply Filters">
        <button type="button" onclick="redirect()">Clear Filters</button>
      </form>
    </div>
  </div>

  <table>
    <tr>
        <th>DateOfReview</th>
        <th>Rating</th>
        <th>Title</th>
        <th>Review</th>
    </tr>
    {% for i in docs %}
        <tr>
            <td>{{ i.DateOfReview[0] }}</td>
            <td>{{ i.Rating }}</td>
            <td>{{ i.Title[0] }}</td>
            <td>{{ i.Review[0] }}</td>
            
        </tr>
    {% endfor %}
  </table>


</div>

<script>
  
  function redirect() {
    window.location.href = "/";
  }
  
</script>
{% endblock%}
