{% extends "base.html" %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <div class="place-details">
        <h1>{{ results_main['Name'] }}</h1>
    </div>

    <h3 class="navigation"> Quick navigation <span>&#128640;</span></h3>
    <ul class="navigation" id="place-navigation">
        <a href="#background-info">Information</a>
        <a href="#reviews">Reviews</a>
        <a href="#navigation">Map Navigation</a>
        <a href="#more-like-this">More like this</a></ul>

    <div id="background-info">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">{{ results_main['Category'] }} Rating</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                {{ results_main['Star'] }}
                </p>
            </div>

            <div class="side-by-side-info">
                <h2 class="heading">Style and Atmosphere</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    {% for res in results_main['Style'] %}
                        {{ res }}
                    {% endfor %}
                </p>
            </div>

        </div>
    </div>


    <div id="reviews">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Reviews</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <table class="table responses-publications">
                        <thead>
                        <tr>
                            <th>Review date</th>
                            <th>Review title</th>
                            <th>Review</th>
                            <th>Rating</th>
                            <th>Sentiment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for res in results_reviews %}
                            <tr>
                            <td>{{ res['Date'] }}</td>
                            <td>{{ res['ReviewTitle'] }}</td>
                            <td class="{{'red' if res['Sentiment'] == 'negative' else 'green'}}">{{ res['Review'] }}</td>
                            <td>{{ res['Rating'] }}</td>
                            <td>{{ res['Sentiment'] }}</td>
                            
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <style>
                        .red {
                            color: red;
                        }

                        .green {
                            color: green;
                        }
                    </style>
                </p>
            </div>
        </div>
    </div>

    <div id="navigation">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Map navigation</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <canvas id="myChart" width="400" height="200"></canvas>
                    <script type="text/javascript">
                        ctx = document.getElementById("myChart").getContext("2d");
                        const xyValues = {{ locations|safe }};
                        const starting = xyValues.slice(0, 3);
                        const names = {{ attr|safe }};
                        const startnames = names.slice(0, 3);
                        const pRadius = [20, 10, 10, 10, 10, 10, 10, 10, 10, 10];
                        const startRadius = pRadius.slice(0, 3);

                        let data = {
                            datasets: [{
                                label: "Legend",
                                labels: startnames,
                                data: starting,
                                backgroundColor: "rgb(255, 99, 132)",
                                pointRadius: startRadius,
                            },]
                        }

                        let options = {
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function(ctx) {
                                            // console.log(ctx);
                                            let label = ctx.dataset.labels[ctx.dataIndex];
                                            label += " (" + ctx.parsed.x + ", " + ctx.parsed.y + ")";
                                            return label;
                                        }
                                    }
                                }
                            }
                        }

                        scatterChart = new Chart(ctx, {
                            type: "scatter",
                            data: data,
                            options: options
                        });


                        function addData() {
                            const added_names = names.slice(0, 10);
                            const added_places = xyValues.slice(0, 10);
                            const added_pRadius = pRadius.slice(0, 10);
                            scatterChart.data.datasets[0].labels = added_names;
                            scatterChart.data.datasets[0].data = added_places;
                            scatterChart.data.datasets[0].pointRadius = added_pRadius;
                            scatterChart.update();
                        }
                    </script>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-success btn-md" onclick="addData();">See more places </button>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <div id="more-like-this">
        <div class="side-by-side-info">
            <h2 class="heading">More like this</h2>
        </div>
        <div class="side-by-side-info">
            <p class="info">
                <table class="table responses-publications">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Style</th>
                        <th>Star</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for res in results_mlt %}
                        <tr>
                        <td><a href={{url_for('query_bp.place',name=res['Name'] )}}>{{ res['Name'] }}</a></td>
                        <td>{{ res['Style'][0] }}</td>
                        <td>{{ res['Star'] }}</td>
                        <td>{{ res['location'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>

{% endblock %}