{% extends "base.html" %}

{% block content %}
    <div class="place-details">
        <h1>{{ results_main['Name'] }}</h1>
    </div>

    <h3 class="navigation"> Quick navigation <span>&#128640;</span></h3>
    <ul class="navigation" id="place-navigation">
        <a href="#background-info">Information</a>
        <a href="#reviews">Reviews</a>
        <a href="#navigation">Map Navigation</a>
        <a href="#more-like-this">More like this</a></ul>

    <div id="background-info">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">{{ results_main['Category'] }} Rating</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                {{ results_main['Star'] }}
                </p>
            </div>

            <div class="side-by-side-info">
                <h2 class="heading">Style and Atmosphere</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    {% for res in results_main['Style'] %}
                        {{ res }}
                    {% endfor %}
                </p>
            </div>

        </div>
    </div>


    <div id="reviews">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Reviews</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <table class="table responses-publications">
                        <thead>
                        <tr>
                            <th>Review date</th>
                            <th>Review title</th>
                            <th>Review</th>
                            <th>Rating</th>
                            <th>Sentiment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for res in results_reviews %}
                            <tr>
                            <td>{{ res['Date'] }}</td>
                            <td>{{ res['ReviewTitle'] }}</td>
                            <td class="{{'red' if res['Sentiment'] == 'negative' else 'green'}}">{{ res['Review'] }}</td>
                            <td>{{ res['Rating'] }}</td>
                            <td>{{ res['Sentiment'] }}</td>
                            
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <style>
                        .red {
                            color: red;
                        }

                        .green {
                            color: green;
                        }
                    </style>
                </p>
            </div>
        </div>
    </div>

    <div id="navigation">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Map navigation</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <img src= {{url_for('query_bp.plot_png' )}} alt="my plot">
                </p>
            </div>
        </div>
    </div>

    <div id="more-like-this">
        <div class="side-by-side-info">
            <h2 class="heading">More like this</h2>
        </div>
        <div class="side-by-side-info">
            <p class="info">
                <table class="table responses-publications">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Style</th>
                        <th>Star</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for res in results_mlt %}
                        <tr>
                        <td><a href={{url_for('query_bp.place',name=res['Name'] )}}>{{ res['Name'] }}</a></td>
                        <td>{{ res['Style'][0] }}</td>
                        <td>{{ res['Star'] }}</td>
                        <td>{{ res['location'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>

{% endblock %}